PORT=3000

TYPEORM_HOST=your-database-host
TYPEORM_PORT=your-database-port
TYPEORM_DATABASE=your-database-name
TYPEORM_TYPE=postgres
TYPEORM_USERNAME=your-database-username
TYPEORM_PASSWORD=your-database-password
TYPEORM_ENTITIES=/../db/models/*.entity.js

JWT_SECRET=your-jwt-secret
JWT_ALGORITHM=your-jwt-algorithm
JWT_EXPIRES_IN=your-jwt-expires-in(seconds)